ol li {
	display: inline;
	list-style: none;
	margin: auto;
	overflow: scroll;
	border-spacing: 5em;
}

ul li {
	list-style: none;
	margin: auto;
	overflow: scroll;
}

button {
	padding: 0;
	cursor: pointer;
	border-radius: 25%;
	background-color: var(--secondary-color);
	
}

.front {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	border-radius: inherit;
	transform: translateY(-.25em);
	background-color: var(--third-color);
	font-size: 1.75em;
	color: var(--primary-color);
	text-shadow: -.025em .025em 0 var(--secondary-color), .025em .025em 0 var(--secondary-color), .025em -.025em 0 var(--secondary-color), -.025em -.025em 0 var(--secondary-color);
	font-weight: 400;
	padding: 0.25em;
	font-family: Optima;
}

button:active .front {
	transform: translateY(-.1em);
}

input {
	border-radius: 25%;
	font-size: 1.75em;
	border: .15em solid var(--secondary-color);
	padding: .25em;
}

select {
	border-radius: 25%;
	font-size: 1.75em;
	border: .15em solid var(--secondary-color);
	padding: .25em;
}

.link {
	text-decoration: none;
}

.dynastyvalues {
	border-collapse: collapse;
	margin: auto;
}

.value-name {
}


