h1, h2, h3 {
	text-align: center;
	white-space: nowrap;
	text-shadow: -.025em .025em 0 var(--secondary-color), .025em .025em 0 var(--secondary-color), .025em -.025em 0 var(--secondary-color), -.025em -.025em 0 var(--secondary-color);
}

table.heading-table {
	background-color: var(--primary-color);
	height: 20%;
	width: 50%;
	text-shadow: -.05em .05em 0 var(--secondary-color), .05em .05em 0 var(--secondary-color), .05em -.05em 0 var(--secondary-color), -.05em -.05em 0 var(--secondary-color);
	border-collapse: collapse;
	margin: auto;
}

img {
	width: 4em;
	border-radius: 50%;
	border: .15em solid var(--secondary-color);
	box-shadow: .05em .05em .5em .1em var(--primary-color) 
}

h1 img {
	width: 4em;
	border-radius: 50%;
	border: .15em solid var(--secondary-color);
	box-shadow: .1em .1em .5em .25em var(--third-color);
	background-color: var(--secondary-color)
}


table.table {
	border-spacing: 0;
	overflow: scroll;
	margin: auto;
	bottom: 200px;
	background-color: var(--third-color);
	border-radius: 2.5em 2.5em;
	color: var(--primary-color);
	text-shadow: -.05em .05em 0 var(--secondary-color), .05em .05em 0 var(--secondary-color), .05em -.05em 0 var(--secondary-color), -.05em -.05px 0 var(--secondary-color);
	box-shadow: 1px 1px 15px 20px var(--secondary-color);
	border-collapse: collapse;
	font-weight: 600;

}

table tr.row:hover {
	background-color: var(--third-color);
	color: var(--third-color);
	text-shadow: -.05em .05em 0 var(--primary-color), .05em .05em 0 var(--primary-color), .05em -.05em 0 var(--primary-color), -.05em -.05px 0 var(--primary-color);
	background-color: var(--secondary-color)
}

table tr:hover .front {
	background-color: var(--primary-color);
	color: var(--third-color);
	text-shadow: -.05em .05em 0 var(--secondary-color), .05em .05em 0 var(--secondary-color), .05em -.05em 0 var(--secondary-color), -.05em -.05px 0 var(--secondary-color);
}

table tr.row:hover button {
	background-color: var(--third-color);
}

table tr.row button {
	background-color: var(--primary-color);
}

table tr.row .front {
	background-color: var(--secondary-color);
	text-shadow: -.05em .05em 0 var(--third-color), .05em .05em 0 var(--third-color), .05em -.05em 0 var(--third-color), -.05em -.05px 0 var(--third-color);
}

table tr.row:hover .front {
	background-color: var(--primary-color);
	text-shadow: -.05em .05em 0 var(--secondary-color), .05em .05em 0 var(--secondary-color), .05em -.05em 0 var(--secondary-color), -.05em -.05px 0 var(--secondary-color);
}

table tr.row:hover img {
	border: .15em solid var(--third-color);
	background-color: var(--primary-color)
}

table tr.row img {
	background-color: var(--secondary-color);
	border: .15em solid var(--primary-color);
}

.link {
	text-decoration: none;
	color: inherit;
}

td {
	padding-left: .5em;
	text-align: center;
	white-space: nowrap;
}	

th {
	text-align: center;
	padding: 1.5em;
}
