.panel {
	background-color: var(--secondary-color);
	color: var(--third-color);
	text-shadow: -.05em .05em 0 var(--primary-color), .05em .05em 0 var(--primary-color), .05em -.05em 0 var(--primary-color), -.05em -.05em 0 var(--primary-color);
	font-weight: 600;
	border: 0.25em solid var(--primary-color);
	border-top: 0;

}

.name:after {
	float: right;
	content: '\02795';
	color: red;
}

.name {
	cursor: pointer;
}

.active {
	background-color: var(--secondary-color);
	color: var(--third-color);
	text-shadow: -.05em .05em 0 var(--primary-color), .05em .05em 0 var(--primary-color), .05em -.05em 0 var(--primary-color), -.05em -.05em 0 var(--primary-color);
	border: 0.25em solid var(--primary-color);
	border-bottom: 0;
}

.active .name:after {
	content: "\2796";
}

.active img {
	border: .15em solid var(--primary-color);
}

.league:hover {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	text-shadow: -.05em .05em 0 var(--third-color), .05em .05em 0 var(--third-color), .05em -.05em 0 var(--third-color), -.05em -.05em 0 var(--third-color);
}