.tcontainer {
	width: 100%;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	opacity: 0.9;
}

.ticker-wrap {
	width: 100%;
	padding-left: 0 0 0 100%;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	text-shadow: -1px 1px 0 var(--third-color), 1px 1px 0 var(--third-color), 1px -1px 0 var(--third-color), -1px -1px 0 var(--third-color);
	font-size: 1em;
}

.ticker-move {
	display: inline-block;
	white-space: nowrap;
	padding-right: 100%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: ticker;
	animation-duration: 420s;
}

.ticker-item {
	display: inline-block;
	padding: 0.5rem 2rem 0.5rem 2rem;
}

@keyframes ticker {
	0% { transform: translate3d(0, 0, 0); }
	100% { transform: translate3d(-100%, 0, 0); }
}
