:root {
	--primary-color: darkblue;
	--secondary-color: #69BE28;
	--third-color: #FFEFD5;
}

[data-theme="ari"] {
	--primary-color: #97233F;
	--secondary-color: black;
	--third-color: white;
}

[data-theme="atl"] {
	--primary-color: #A71930;
	--secondary-color: #000000;
	--third-color: #A5ACAF;
}

[data-theme="light"] {
	--primary-color: lightgrey;
	--secondary-color: gray;
	--third-color: black;
}

[data-theme="was"] {
	--primary-color: #773141;
	--secondary-color: #FFB612;
	--third-color: white;
}

[data-theme="dal"] {
	--primary-color: #041E42;
	--secondary-color: #869397;
	--third-color: white;
}	

[data-theme="car"] {
	--primary-color: #0085CA;
	--secondary-color: #101820;
	--third-color: #BFC0BF;
}

[data-theme="cin"] {
	--primary-color: #FB4F14;
	--secondary-color: #000000;
	--third-color: white;
}

[data-theme="cle"] {
	--primary-color: #311D00;
	--secondary-color: #FF3C00;
	--third-color: #FFFFFF;
}

[data-theme="det"] {
	--primary-color: #0076B6;
	--secondary-color: #B0B7BC;
	--third-color: #FFFFFF;
}

[data-theme="hou"] {
	--primary-color: #03202F;
	--secondary-color: #A71930;
	--third-color: #FFFFFF;
}

[data-theme="ind"] {
	--primary-color: #002C5F;
	--secondary-color: #A2AAAD;
	--third-color: #FFFFFF;
}

[data-theme="lac"] {
	--primary-color: #0080C6;
	--secondary-color: #FFC20E;
	--third-color: #FFFFFF;
}

[data-theme="lar"] {
	--primary-color: #003594;
	--secondary-color: #FFD100;
	--third-color: #FFFFFF;
}

[data-theme="min"] {
	--primary-color: #4F2683;
	--secondary-color: #FFC62F;
	--third-color: #FFFFFF;
}

[data-theme="no"] {
	--primary-color: #D3BC8D;
	--secondary-color: #101820;
	--third-color: #FFFFFF;
}

[data-theme="phi"] {
	--primary-color: #004C54;
	--secondary-color: #565A5C;
	--third-color: #A5ACAF;
}

[data-theme="nyg"] {
	--primary-color: #0B2265;
	--secondary-color: #A71930;
	--third-color: #A5ACAF;
}

[data-theme="nyj"] {
	--primary-color: #125740;
	--secondary-color: #000000;
	--third-color: #FFFFFF;
}

[data-theme="pit"] {
	--primary-color: #FFB612;
	--secondary-color: #A5ACAF;
	--third-color: #101820;
}

[data-theme="sea"] {
	--primary-color: #002244;
	--secondary-color: #69BE28;
	--third-color: #A5ACAF;
}

[data-theme="tb"] {
	--primary-color: #34302B;
	--secondary-color: #D50A0A;
	--third-color: #FF7900;
}

[data-theme="ten"] {
	--primary-color: #0C2340;
	--secondary-color: #C8102E;
	--third-color: #4B92DB;
}

[data-theme="kc"] {
	--primary-color: #E41837;
	--secondary-color: #FFB81C;
	--third-color: white;
}

[data-theme="sf"] {
	--primary-color: #AA0000;
	--secondary-color: #B3995D;
	--third-color: white;
}

[data-theme="chi"] {
	--primary-color: #0B162A;
	--secondary-color: #C83803;
	--third-color: white;
}

[data-theme="jax"] {
	--primary-color: #006778;
	--secondary-color: #101820;
	--third-color: #D7A22A;
}

[data-theme="buf"] {
	--primary-color: #00338D;
	--secondary-color: #C60C30;
	--third-color: white;
}

[data-theme="mia"] {
	--primary-color: #008E97;
	--secondary-color: #FC4C02;
	--third-color: #005778;
}

[data-theme="bal"] {
	--primary-color: #241773;
	--secondary-color: #000000;
	--third-color: #9E7C0C;
}

[data-theme="lv"] {
	--primary-color: #000000;
	--secondary-color: #A5ACAF;
	--third-color: white;
}

[data-theme="ne"] {
	--primary-color:#002244;
	--secondary-color:#C60C30;
	--third-color: #B0B7BC;
}

[data-theme="den"] {
	--primary-color: #002244;
	--secondary-color: #FB4F14;
	--third-color: white;
}

[data-theme="gb"] {
	--primary-color: #203731;
	--secondary-color: #FFB612;
	--third-color: white;
}


body {
  margin: 0;
  font-family: Verdana;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--primary-color);
  color: var(--third-color);
  text-shadow: -.05em .05em 0 var(--secondary-color), .05em .05em 0 var(--secondary-color), .05em -.05em 0 var(--secondary-color), -.05em -.05em 0 var(--secondary-color);
  font-weight: 300;
  font-size: 1em;
  padding-bottom: 150px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
